	body
{
    background-image:url('http://cs619119.vk.me/v619119415/1dd85/wKvjCARvBH8.jpg');
    background-repeat:no-repeat;
    background-size:600px;
   
}

#data{
	
	margin-top:19px;
	left:250px;
}

#data1{
	
	margin-top:5px;
	left:250px;
}

#data2{
	
	margin-top:18px;
	left:235px;
}
#data3{
	margin-top:5px;
	top:250px;
	left:235px;
}

#data4{
	
	margin-top:17px;
	left:235px;
}

#data5{
	
	margin-top:17px;
	left:235px;
}

#data6{
	
	margin-top:18px;
	left:235px;
}
#data7{
	
	margin-top:19px;
	left:235px;
}


p {
	position: absolute;
	font-weight: bold;
	margin: 18px 0;
	
}

.info.empty, .canvas {
	text-decoration: none;
}
#strings {
	font-weight:bolder;
    font-size:110%;
	margin-left: 230px;
	margin-top:15px;
	float: left;
}


.podpis
{
   font-weight:bolder;
    font-size:110%;
    position:absolute;
    left: 45px;
    top: 280px; 
    
}

#canvas{
	display:none;
}


.image
{
    background:url('http://cs619923.vk.me/v619923415/14652/UgUg6zcLYFs.jpg');
    background-size:cover;
    position:absolute;
    left:40px;
    top:60px;
}
.booth {
  width: 400px;
  height:300px;
  position:absolute;
  left:35px;
  top:350px;
  background: #ccc;
  border: 10px solid #ddd;
  margin: 0 auto;
}

.booth-capture-button {
  position:absolute;
  left:5px;
  top:0px;
  padding: 10px 20px;
  background: cornflowerblue;
  color: #fff;
  text-align: center;
  text-decoration: none;
  
}

.photo
{
  width: 155px;
  height:210px;
  position:absolute;
  left:38px;
  top:60px;
}


#place {
	position: fixed;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.7;
	top: 0;
}
#modal {
	position: absolute;
	z-index: 3;
	left: 200px;
	top: 20px;
	background-color: #fff;
	width: 320px;
	height: 300px;
	text-align: center;
}
